# Project 2

In [1]:
#import essential libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("taxi.csv")
df.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [3]:
df.shape

(27, 5)

In [4]:
df.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [5]:
#independent and dependent variables
d1 = df.iloc[:,:-1].values
d2 = df.iloc[:,4].values

In [6]:
#train and test split will be applied
from sklearn.model_selection import train_test_split
d1_train,d1_test,d2_train,d2_test = train_test_split(d1,d2,test_size=0.3,random_state=0)

In [7]:
print("Shape of d1_train:",d1_train.shape)
print("Shape of d2_train:",d2_train.shape)
print("Shape of d1_test:",d1_test.shape)
print("Shape of d2_test:",d2_test.shape)

Shape of d1_train: (18, 4)
Shape of d2_train: (18,)
Shape of d1_test: (9, 4)
Shape of d2_test: (9,)

In [8]:
#preparing our model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(d1_train,d2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
#calculating the values of coefficient and slope
m = lr.coef_
m

array([-5.68775893e+02,  1.30158909e-01, -5.49376209e-02,  1.22759763e+02])

In [10]:
c = lr.intercept_
c

-41535.70104644974

In [11]:
#we can now performing manual testing 
#formula is y=mx+c
#in x we will have to give four values
x = [80,1770000,6000,85]
y = np.dot(m,x)+c
y.round(2)

153448.45

In [14]:
#now checking through the model
v = lr.predict([[80,1770000,6000,85]])[0].round(2)
v

153448.45

In [15]:
#now we will calculate the score
print("Train score:",lr.score(d1_train,d2_train))
print("Test score:",lr.score(d1_test,d2_test))

Train score: 0.9428364724316814
Test score: 0.9157379222488224

In [16]:
#now we present our solution
#creating a .pkl file
#pickle and joblib do the same work
import pickle
#wb mode is for write binary i.e. write the file in binary mode
pickle.dump(lr,open('taxi.pkl','wb'))

In [17]:
#NOW WE WILL TEST 
model = pickle.load(open('taxi.pkl','rb'))
print(model.predict([[80,1770000,6000,85]]))

[153448.45038985]